$container:1170px;
$l:left;
$r:right;
$c:center;
$b:bottom;
$auto:auto;
$float:float;
$flix:flix;
$fw:flex-wrap;
$wrap:wrap;
$ib:inline-block;
$b:block;
$bdbx:border-box;
$ctbx:content-box;
$fz16:16px;
$fz18:18px;
$fz32:32px;
$titfz:50px;
$fotCorDir:#111111;
$faDir:Arial, Helvetica, sans-serif;
$YaHei:"Microsoft YaHei UI",sans-serif;
$uppercase:uppercase;
$capitalize:capitalize;
$bdstyle:1px solid;